.entity-category {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__title {
    @include text-28-36-700;
  }

  &__product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(217px, 1fr));
    grid-gap: 24px 8px;
  }
}
