.default-layout-header {
  padding: 16px 24px;
  background: white;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas:
            "logo  change-address change-language enter";
  align-items: center;

  &__logo {
    grid-area: logo;
    margin-right: 36px;
  }

  &__change-address {
    grid-area: change-address;
  }

  &__change-language {
    grid-area: change-language;
    margin-right: 26px;
  }

  &__enter {
    grid-area: enter;
  }
}
