.player-layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;

  display: grid;
  grid-template-areas:
    "header header header"
    ". content scrollBtns";
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 450px 1fr;


  &__content {
    grid-area: content;
    height: 100%;
    max-height: 700px;
    background: #fec89a;
  }

  &__header {
    grid-area: header;
  }

  &__scroll-btns {
    grid-area: scrollBtns;
    align-self: center;
    padding-left: 16px;
  }

}
