.entity-categories-list {
  display: flex;
  flex-direction: column;
  gap: 5px;

  &__title {
    @include text-20-28-500;
    padding: 14px 20px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 16px;

    &-back {
      cursor: pointer;
    }
  }

  &__item {
    @include text-16-24-400;
    padding: 14px 20px;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background: #FFFFFF80;
    }

    &_active {
      background: white;
    }
  }
}
