@mixin text-11-16-400() {
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
}

@mixin text-11-16-500() {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

@mixin text-11-16-700() {
  font-size: 11px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

@mixin text-12-16-400() {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

@mixin text-12-16-500() {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

@mixin text-13-15-400() {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
}

@mixin text-13-15-500() {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
}

@mixin text-13-16-600() {
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

@mixin text-14-20-400() {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

@mixin text-14-20-500() {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

@mixin text-14-24-500() {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

@mixin text-14-20-700() {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@mixin text-16-24-400() {
  font-size: 16px;
  line-height: 24px;
}

@mixin text-16-24-500() {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

@mixin text-16-24-700() {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

@mixin text-20-28-500() {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

@mixin text-20-28-700() {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

@mixin text-24-32-400() {
  font-size: 24px;
  line-height: 32px;
}

@mixin text-24-32-700() {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

@mixin text-28-36-700() {
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
}
