.entity-user-form {
  display: grid;
  grid-template-areas:
    "title ."
    "name email"
    "notify notify";
  grid-gap: 10px;

  &__title {
    grid-area: title;
  }

  &__name {
    grid-area: name;
  }

  &__email {
    grid-area: email;
  }

  &__notify {
    grid-area: notify;
  }
}
