/**
 * Colors
 * Primary
 */

$color-primary-green: #18b15e;
$color-primary-green-light: #1dd471;
$color-primary-green-dark: #138e4b;

$color-primary-blue: #0060f0;
$color-primary-blue-light: #0073ff;
$color-primary-blue-dark: #004dc0;

$color-primary-red: #f45c5e;
$color-primary-red-light: #ff6e71;
$color-primary-red-dark: #c34a4b;

$color-primary-azure: #343ad6;
$color-primary-azure-light: #3e46ff;
$color-primary-azure-dark: #2a2eab;

/**
  * Colors
  * Additional
  */

$color-additional-green-1: rgba(24, 177, 94, 0.12);
$color-additional-green-2: rgba(13, 94, 50, 0.48);

$color-additional-blue-1: rgba(26, 122, 233, 0.12);
$color-additional-blue-2: rgba(17, 80, 153, 0.48);

$color-additional-red-1: rgba(248, 106, 108, 0.12);
$color-additional-red-2: rgba(163, 70, 71, 0.48);

$color-additional-beige: #fff5e7;
$color-additional-orange: #fdb056;
$color-additional-titan: #ebecff;
$color-additional-violet: #9788f4;
$color-additional-blue: #e3effc;

$color-additional-azure-1: rgba($color-primary-azure, 0.4);

/**
  * Colors
  * Grayscale
  */

$color-gray-0: #fff;
$color-gray-5: #fafbfc;
$color-gray-10: #f5f4f2;
$color-gray-15: #f6f6f6;
$color-gray-20: #eef0f3;
$color-gray-30: #dcdee1;
$color-gray-40: #bfc4c7;
$color-gray-50: #8c9199;
$color-gray-60: #546273;
$color-gray-70: #1e2e40;
$color-gray-80: #191e26;




