.default-layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $color-gray-20;
  display: flex;
  flex-direction: column;

  &__main{
    flex-grow: 1;
    overflow-y: scroll;

    &-container {
      padding: 22px 6px;
      max-width: 1300px;
      margin: auto;
      display: flex;
      gap: 48px;
    }

    &-sidebar-left {
      width: 232px;
      height: calc(100vh - 124px);
      position: sticky;
      top: 22px;
    }

    &-sidebar-right {
      width: 320px;
      height: calc(100vh - 124px);
      position: sticky;
      top: 22px;
    }

    &-content {
      flex-grow: 1;
      background: #f1c0e8;
      height: 1500px;
    }
  }

  &__footer {
    height: 150px;
    background: #9bf6ff;
  }
}
